<div fxLayout="column" fxLayoutAlign="center" class="container">
  <h2 fxLayoutAlign="center">About Me</h2>
  <div class="container">
  <div fxFlex="20" fxHide.xs></div>
  <div fxFlex.xs="100" fxFlex="60">
    <mat-card class="card">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eleifend dolor sit amet nisi scelerisque,
          vitae finibus enim dapibus. Sed efficitur lectus et risus ultrices, non dignissim lectus tincidunt.
          Fusce ullamcorper, magna at elementum tristique, sapien magna fermentum purus, ac fringilla nisi velit eget nisl.
        </p>
        <p>
          Donec malesuada ligula quis est consequat fringilla. Sed sit amet aliquam nisi, a maximus urna.
          Nullam vulputate, tellus in semper suscipit, nibh enim fringilla risus, vitae mattis erat nisl at tortor.
          Nullam condimentum, urna et vestibulum semper, mauris sapien dictum turpis, at bibendum lacus tellus et odio.
        </p>
        <p>
          Duis eu ante varius, dignissim lectus eget, consectetur enim. Curabitur consectetur arcu nec placerat consequat.
          Maecenas pretium turpis quis cursus fringilla. Nunc id nulla eget tortor vulputate pharetra vitae et elit.
          Phasellus sed urna vitae erat consectetur aliquet. Sed sollicitudin augue at metus dictum vestibulum.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20" fxHide.xs></div>
  </div>
</div>
